[Unit]
Description=Mount /images in initrd
DefaultDependencies=no
After=systemd-cryptsetup@main.service

[Mount]
What={image_device}
Where=/images
Type={image_fs}
Options={image_options},nodev,noexec,nosuid,ro
